@import 'tailwindcss';


@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@theme {
  --color-*: initial;
  --color-primary: #a4d1ee;
  --color-secondary: #434356;
  --color-background: #1f1f28;
  --color-success: #a6e3a1;
  --color-failure: #f38ba8;
  --color-info: #fab387;
}
